
{{#results}}


<div class="row">

    <div class="col-md-3">
        <p class="balance-label">Doses Produced</p>
        <p class="balance-value">{{doses_manufactured}}</p>
    </div>

    <div class="col-md-3">
        <p class="balance-label">Growth Time</p>
        <p class="balance-value">{{days_to_meet_demand}}</p>
    </div>

    <div class="col-md-3">
        <p class="balance-label">Cost Per Dose</p>
        <p class="balance-value">{{costStructure.costPerDose}}</p>
    </div>

    <div class="col-md-3">
        <p class="balance-label">Cash Flow</p>
        <p class="balance-value">{{balance}}</p>
    </div>

</div>

{{/results}}

