{{^ajax}}
{{> page_start}}
{{/ajax}}

<!-- statements -->
<div class="container">
    <h2>Problem</h2>
    <p>Nowadays the previously incurable diseases, are starting to be cured.</p>
    <p>Stem cells have very promising therapeutical applications due to their special properties.</p>
    <p>Yet there are several problems that result in providing these therapies at very high costs and to very few people.</p>

    <h2>Solutions</h2>
    <p>One possible solution is to have a software simulation running, that helps managers make the best decisions possible.</p>
    <p>In light of this, a complex yet powerful simulation app was created.</p>
    <p>In order to reduce complexity and ease the effort of comprehending the solution, we provide the same simulation software as an ever increasingly complexity game.</p>

    <h2>The Simulation Game</h2>
    <p>In Stem Factory, you will design, maintain and manage a stem cell manufacturing facility, making the most of limited resources and turning cures into profit.</p>
    <p>You will start off with a very small facility. From there you will collect profit to invest in new equipments and move up the cell manufacturing ladder.</p>

    <a class="btn" href="scenarios">Start Game</a>

    <a class="btn" href="full">Start Full simulation</a>
</p>
</div>


<!-- Footer Team -->
<footer id="footer">
    <div class="container">

        <h2>The team</h2>
        <ul class="team">
            <li class="col-md-3">
                <div class="photo">
                    <img src="/static/img/layout/alex.jpg" alt="">
                </div>
                <p class="highlight">Alexandre Carvalho</p>
                <p class="craft">
                    <span>Crafts</span>
                    <span class="highlight">Programing stuff</span>
                </p>
            </li>

            <li class="col-md-3">
                <div class="photo">
                    <img src="/static/img/layout/catia.jpeg" alt="">
                </div>
                <p class="highlight">Cátia Bandeiras</p>
                <p class="craft">
                    <span>Crafts</span>
                    <span class="value">Bioengineering stuff</span>
                </p>
            </li>

            <li class="col-md-3">
                <div class="photo">
                    <img src="/static/img/layout/patrick.jpg" alt="">
                </div>
                <p class="highlight">Patrick Sardinha</p>
                <p class="craft">
                    <span>Crafts</span>
                    <span class="highlight">Front-end stuff</span>
                </p>
            </li>

            <li class="col-md-3">
                <div class="photo">
                    <img src="/static/img/layout/treza.jpeg" alt="">
                </div>
                <p class="highlight">Teresa Alves</p>
                <p class="craft">
                    <span>Crafts</span>
                    <span class="highlight">Web design stuff</span>
                </p>
            </li>
        </ul>

    </div>
</footer>

{{^ajax}}
{{> page_end}}
{{/ajax}}
