#sim-welcome-msg, #sim-welcome-desc, #sim-welcome-start-btn-ctn, #sim-step1-ctn, #sim-step2-ctn, #sim-step3-ctn {
    display: none;
}

/*#sim-welcome-ctn {
    height: 450px;
}*/

#sim-welcome-start-btn-ctn {
    margin-top: 50px;
}

/*#sim-s1-next-btn {
    margin-top: 50px; 
}*/