
<!-- Page End -->
    </div> <!--id="root-container">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    <script src="static/js/styler.js"></script>
    <script src="static/js/panel_navigation.js"></script>
    <script src="static/js/app.js"></script>

    <script src="static/js/slem.factory.js"></script>
  </body>
</html>
