<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- OPTIMIZADO PARA MOBILE -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Stem Factory</title>

    <meta property="og:title" content="Homepage" />
    <meta property="twitter:title" content="Homepage" />


    <!-- DESCRIÇÃO -->

    <meta name="description" content="Can you supply humanity with the ultimate cure?">
    <meta property="og:description" content="Can you supply humanity with the ultimate cure?" />


    <!-- FONTS -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400" rel="stylesheet"><!-- not local -->

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
<!--    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <link href="static/css/stem.factory.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="{{bodyClass}}">

    {{> main_header}}

<!-- end Page Start -->
