
<!-- Page End -->

        <!-- end CONTEÚDO -->

    <div class="footer2">
        <div class="container">
            <div class="copyright">stemFactory © 2016</div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/stem.factory.js"></script>
  </body>
</html>
