
{{^ajax}}
{{> page_start}}
{{/ajax}}

<div class="container">
    <div class="simulator">

        {{#level}}
        <div id="sim-welcome-ctn" class="jumbotron">
            <h2 id="sim-welcome-msg">Level {{number}} - {{title}}</h2>
            <p id="sim-welcome-desc">{{description}}</p>
            <div id="sim-instructions">
                {{{instructions}}}
            </div>
            <p id="sim-welcome-start-btn-ctn"><a id="sim-welcome-start-btn" class="btn btn-primary btn-lg" href="#" role="button">Start Simulation</a></p>
        </div>
        {{/level}}



        {{#interactions}}
        <div id="sim-step{{order}}-ctn">

            <div class="row remaining">
                <h2>{{title}}</h2>
                <p class="interaction-description">{{description}}</p>
                <div class="label">Budget</div>
                <div class="panel-body">
                    <span id="sim-total" class="sim-balance"></span>
                </div>

            </div>

            <div class="row">
                {{#items}}
                <div class="cellBlock col-md-4">
                    <div class="innerCell">
                        <div class="row imgRow">
                             <img class="img-responsive" src="/static/img/{{img}}" />
                             {{#tooltip}}<p class="asset-tooltip">{{tooltip}}</p>{{/tooltip}}
                        </div>

                        <div class="row">
                            <div class="panel panel-primary {{itemTypes}}-panel" id="{{id}}-data"
                                        data-id="{{id}}" data-price="{{price}}" data-field="{{fieldId}}"
                                        data-growth="{{growthParameters}}" data-culture-media="{{code_name}}">

                                <div class="panel-heading">

                                    <div class="row">
                                        <div class="col-md-7 {{itemTypes}}-label">
                                            <h4>{{name}} <span id="{{id}}-units" class="badge" ></span></h4>
                                        </div>

                                        <div class="col-md-5 {{itemTypes}}-buttons">
                                            <h3 class="panel-title">
                                                {{#price}}
                                                <a id="{{id}}-units-sub" href="#" class="btn btn-warning check-next-step units-sub">
                                                    <strong>- 1</strong>
                                                </a>
                                                <a id="{{id}}-units-add" href="#" class="btn btn-success check-next-step units-add">
                                                    <strong>+ 1</strong>
                                                </a>
                                                {{/price}}

                                                {{^price}}
                                                <a id="{{id}}-select" href="#" class="btn btn-success check-next-step consumable-select">
                                                    <strong>Select</strong>
                                                </a>
                                                {{/price}}
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-body" id="{{id}}-value" >
                                    {{#price}}<h4>Aquisition Cost: {{price}}&euro;</h4>{{/price}}
                                    {{#priceDescription}}<h4>{{{.}}}</h4>{{/priceDescription}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/items}}
<!--
                <div class="cellBlock col-md-3">
                    <div class="innerCell">
                        <div class="row imgRow">
                             <img class="img-responsive budget" src="/static/img/budget.png" />
                        </div>

                        <div class="row">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4>Budget</h4>
                                </div>
                                <div class="panel-body">
                                    <h4 id="sim-s{{order}}-total" class="sim-balance"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a id="sim-s{{order}}-next-btn" href="#" class="btn btn-default btn-lg">Next Step</a>
                </div>
            </div>
        </div>

        {{/interactions}}
    </div>
</div>


<form action="simulation_submit" method="POST" id="simulation-form">
{{#level_comment}}
    <input type="hidden" id="level" name="level" value="{{number}}" />
{{/level_comment}}

    <input type="hidden" id="balance" name="balance" value="{{balance}}" />
{{#panels}}
{{> panel_content}}
{{/panels}}

<!--
<input type="submit" />
<input type="reset" />
-->
</form>

{{^ajax}}
{{> page_end}}
{{/ajax}}
